body{
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.done{
  text-decoration: line-through;
  color: grey;
}

.tool {
  cursor: pointer;
  display: inline-block;
  z-index: 10;
}
.tool.hidden{
  display: none;
}
ul li a{
  padding-right: 10px;
  display: inline;
  text-decoration: none;
}

li {
  list-style: none;
}
